<nav class="navbar navbar-expand-lg bg-dark  border-body sticky-top" data-bs-theme="dark">
    <div class="container">
        <!-- logo  -->
        <a class="navbar-brand" routerLink="/home">
            <img src="assets/light-logo-50.png" alt="Leti Arts" width="120" height="24">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item nav-underline">
                        <!-- add link to comics page -->
                        <a class="nav-link" routerLinkActive="active" routerLink="/comics" aria-current="page" >Comics</a>
                    </li>

                    <li class="nav-item nav-underline">
                        <!-- add link to shelf page -->
                        <a class="nav-link" routerLink="/shelf" routerLinkActive="active">Shelf</a>
                    </li>
                    
                    <li class="nav-item nav-underline dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Login/Signup
                        </a>
                        <ul class="dropdown-menu nav-pills ">
                          <li><a class="dropdown-item" href="#">Login</a></li>
                          <li>
                            <hr class="dropdown-divider">
                          </li>
                          <li><a class="dropdown-item " href="#">Signup</a></li>
                        </ul>
                      </li>
                </ul>
                <!-- make search form be displayed when on comics page -->

                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search For Comics" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                  </form>



            </div>

        </div>
    </div>

</nav>